<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154211995316-2jc2vdrsuqjn7s8mc3u96onep7u9fp9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154211995316-2jc2vdrsuqjn7s8mc3u96onep7u9fp9q</string>
	<key>API_KEY</key>
	<string>AIzaSyCn-8_VRGGPDwogXqh4beB3XXpWESab4BY</string>
	<key>GCM_SENDER_ID</key>
	<string>154211995316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ci-cd-example</string>
	<key>PROJECT_ID</key>
	<string>ci-cd-example-8ec9d</string>
	<key>STORAGE_BUCKET</key>
	<string>ci-cd-example-8ec9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154211995316:ios:16f2e768c6f2cce27311e1</string>
</dict>
</plist>